
mat-tab-group(mat-align-tabs="center")
    mat-tab(label="Estudiantes") 
        app-estudiantes([alumnos]="alumnos", [grado]="grado")     
    mat-tab(label="Pagos")
        app-pagos([alumnos]="alumnos", [grado]="grado")
    mat-tab(label="Reportes") Content 3 

